<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5"> 
	<!-- This is a Servlet 2.5 specification demo. you can also use the Servlet 2.5 header. -->
	<!-- Servlet 2.5 -->
	<!--
	<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5"> 
	-->
	
	<!-- Servlet 3.0 or 3.1 -->
	<!--
	<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"> 
	 -->
	
	<display-name>web1</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MyDefaultServlet</servlet-name>
		<servlet-class>org.icanbe.MyDefaultServlet.MyDefaultServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyDefaultServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>