@charset "utf-8";

* {
	font-family: "Times New Roman", Georgia;
}

h1 {
	color: #058cee;
	font-size: 1.7em;
	text-align: center;
}

h2 {
	color: #058cee;
	font-size: 1.2em;
	margin-left: 15px;
}

h2:hover {
	color: blue;
	background-color: #56c9e7;
	cursor: pointer;
}

li {
	margin-top: 2px;
	margin-bottom: 2px;
}

li:hover {
	font-weight: bold;
	color: blue;
}